<div class="container">
  <input id="pac-input" class="controls form-control" type="text" placeholder="Search tweets">
  <div class="col-md-6">
    <div id="map"></div>
  </div>

  <div class="col-md-6">
    <div class="jumbotron">
      <h3>Search History</h3>
      <ul class="list-group" id="search-history">
        
      </ul>
    </div>
  </div>
</div>