<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApi</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1", user-scalable=no />

 </head>
  <body>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-SFvRIJ4_6gpstWM_hXpE3c6ThtFrRl8&libraries=places&callback=initAutocomplete">
    </script>
    

  </body>
</html>
